<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AzureStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=asestg;AccountKey=buJq0Ax2eaW+/OQkLlsXBxOI2dGV74UfDQ6WkChFqb6xuLvsBkraE4h9Hu95t4Qg18pEmyymPoT3VKOdw5teSg==;EndpointSuffix=core.windows.net"/>
  </connectionStrings>
  <appSettings>
    <add key="PetPointShelterID" value="USOH69" />
    <add key="PetPointAuthKey" value="(private)" />
    <add key="PetPointUsername" value="(private)" />
    <add key="PetPointPassword" value="(private)" />
    <add key="PetfinderApiKey" value="(private)" />
    <add key="PetfinderShelterID" value="OH166" />
    <add key="PetPointAuthKey" value="(private)"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
